@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbardefault{
  @apply fixed z-20 w-full h-[4.25rem]  bg-gradient-to-b from-navbg/60   text-white 
}

.navbarscrolled{
  @apply fixed z-20 w-full h-[4.25rem]  bg-navbg

}

.navText{
  @apply text-white hover:text-texticon  no-underline px-[.52rem] text-[20px]
}

.navTextIcon{
  @apply text-texticon no-underline pr-[.52rem] text-[25px] font-russo
}

.navIcon{
  @apply text-white text-[20px] font-bold px-4 hover:text-texticon 
}

